{
    "env": {
      "production": {
        "plugins": [
            "transform-class-properties"
        ]
      },
      "development": {
        "plugins": [
            "transform-class-properties"
        ]
      }
    },
    "presets": ["react"]
}
